.origin-bck {
    background-color: #374956;
    background-image: url("../../../assets/idea.jpg");
    background-position: center;
    background-size: cover;
}


.textBox {
    
    min-width: 100%;
    height: 100%;
}