main {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}


.containReplay {
    margin: 0 auto;
    width: 30%;
    text-align: center;
    animation: 
    var(--animation-scale-down) reverse,
    var(--animation-fade-out) reverse;
    animation-timing-function: var(--ease-squish-5);
     animation-duration: 1s;
}

.replay-btn {
    animation: 
    var(--animation-scale-down) reverse,
    var(--animation-fade-out) reverse;
    animation-timing-function: var(--ease-squish-5);
     animation-duration: 1s;
    display: inline-block;
    width: fit-content;
}

.speech {
    flex-direction: column;
    justify-content: space-between;
}

.playIcon {
    width: 3rem;
    height: 3rem;
    padding-right: 0.3rem;
}

// svg {
//     width: 3em;
//     height: 3em;
// }
.microphone {
    width: 3rem;
    height: 3rem;
    display: block;
    margin: 0 auto 1em auto;
}


// button {
//     /*  
//       using `reverse` means we dont have to put 
//       opacity: 0 or scale(.8) anywhere  
//     */
//     animation: 
//     var(--animation-scale-down) reverse,
//     var(--animation-fade-out) reverse;
//     animation-timing-function: var(--ease-squish-5);
//      animation-duration: 1s;
//     background-color: $secondary-100;
// }

.sortContainer{
    gap: .5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    background: #dadada;
    display: flex;
    justify-content: center;
}

#sortTile{
    // animation: 
    //     var(--animation-scale-down) reverse,
    //     var(--animation-fade-out) reverse;
    //     animation-timing-function: var(--ease-squish-5);
    //      animation-duration: 1s;
    //      animation-iteration-count: 1;

        // animation:
        //   var(--animation-shake-y),
        //   var(--animation-fade-in),
        //   var(--animation-slide-in-left);
      
}


//   .sortItem {
   
//         //animation:
//          // var(--animation-fade-in) forwards,
//         //   var(--animation-scale-up);
//         // animation-timing-function: var(--ease-squish-3);
//         // animation-duration: 2s;
//         // animation-iteration-count: 1;
//         box-shadow: var(--shadow-border);
   
//     width: 15%;
//     text-align: center;
//     background-color: $secondary-800;
//   }
