.settings {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: flex-start;
  margin-top: 3em;
  > span {
    display: block;
    padding: 2em 0;
  }

  .settings ul {
    all: unset;
  }

  //list

  .containList {
    height: 40vh;
  }

  .holdAllWords {
    display: flex;
    width: 100%;
    align-content: center;
    //background-color: rgba(220, 224, 224, 0.642);
    background-color: var(--dropdown-background-color);
    max-height: 100%;
    overflow-y: auto;
    overflow-x: auto;
  }
  .holdAllWords ul {
    width: 100%;
  }

  .itemWord {
    width: 80%;
  }

  .word {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;

    .save {
      display: none;
    }
    &.editing {
      .itemWord {
        padding: 0.5em 0 0.5em 0;
        transition: all 0.15s ease-in-out;
        width: 100%;
        //background: rgba(138, 137, 137, 0.3);
        background: var(--dropdown-hover-background-color);
      }
      .save {
        display: initial;
      }
      .edit {
        display: none;
      }
    }
  }
}

.editSaveDelete {
  margin-left: 1em;
}

@media (min-width: 768px) {
  .containList {
    display: flex;
    align-content: center;
    justify-content: center;
    .holdAllWords {
      width: 65%;
    }
  }
  //settings modal
  .modal-split-btns {
    display: flex;
    justify-content: space-around;
    button {
      width: 25%;
    }
  }
  .settings form {
    display: flex;
    width: 60%;
    input {
      flex-grow: 1;
    }
    button {
      min-width: fit-content;
    }
  }
}
