span {
    display: block;
}

.containList {
    margin: 0 auto;
    max-width: 70%;
    height: 40vh
}

// .holdAllWords {
//     display: flex;
//     align-content: center;
//     background-color: rgb(224, 220, 220);
//     max-height: 30vh;
//     overflow-y: auto;
//     overflow-x: hidden;

//     .holdAllWords ul {
//         width: 100%;
//     }

//      .save {
//         display: none;
//      }

//       .word {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         padding-right: 1em;
//       }
      
// }

.holdAllWords {
    display: flex;
    width: 100%;
    align-content: center;
    background-color: rgb(224, 220, 220);
    max-height: 100%;
    overflow-y: auto;
    overflow-x: auto;
}
    .holdAllWords ul {
        width: 100%;
    }

    .itemWord {
        width: 80%;
    }

    .word {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 1em;

        .save {
            display: none;
        }
        &.editing {
            .save {
                display: initial;
            }
            .edit {
                display: none;
            }
        }
    }
    // .word {
    //     display: flex;
    //     justify-content: space-between;
        
    //     padding-right: 1em;
    // }

    // .save {
    //     display: none;
    // }
    // &.editing {
    //     .save {
    //         display: initial;
    //     }
    //     .edit {
    //         display: none;
    //     }
    // }

    
    
    









// .editSaveDelete {
// margin-left: 1em;
// }
// .listModal{
//     max-height: 50vh;
//     min-width: 50%;
// }
//word is holding both
//holdallwords >ul >> li.word >.<itemword> .editsavedel > <btn.edit> * 3 >> 
// .holdAllWords {
//     margin: 0 auto;
//     background-color: rgb(224, 220, 220);
//     max-height: 30vh;
//     max-width: 70%;
//     overflow-y: auto;
//     overflow-x: hidden;
    
//     ul {
//         display: flex;
//         flex-direction: row;
//         width: 100%;
//     }
//      .btns {
//         display: flex;
//         flex-direction: column;

//        .save {
//         display: none;
//        }
//      }

//      .itemWord {
//         flex-grow: 1;
//      }
// }



// .edit-btn {
//     color: green;
//     background-color: orange;
// }