.dashboardImage {
  padding-bottom: 2em;
}

[data-theme="dark"] .dash-container {
  .sortGame {
    background-color: #a8ace4;
    color: #2b2e6e;
    &:hover {
      background-color: #b8bbef;
    }
  }
  .bankGame {
    background-color: #d6a177;
    color: #4b2e0c;
    &:hover {
      background-color: #e8b387;
    }
  }
}

.dash-container {
  .sortGame {
    background-color: #474dd1;
    color: #e8e9fc;
    &:hover {
      background-color: #5a61e9;
    }
  }
  .bankGame {
    background-color: #d18647;
    color: #f8ede4;
    &:hover {
      background-color: #e3995c;
    }
  }
}
