.verticalCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
    .dashLinks {
      width: 70%;
      button {
        font-weight: 700;
        outline: transparent;
        max-width: 100%;
      }
  }
}
  //width: 100%;
  //justify-content: center;
  // .dashLinks {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  // }

// .dashboardImage{
//   padding-bottom: 2em;
// }

// .dashboardImage img {
//   display: block;
//   margin: 0 auto;
//   //max-width: 17rem;
// }


// // .parrotLogo {
// //     display: block;
// //     margin: auto;
// //     max-height: 12rem;
// //     @media (var(--lg-n-above)){
// //       max-height: 12rem;
// //     }
// //   }
  


.dashboardImage{
  padding-bottom: 2em;
}

// .dashboardImage img {
//   display: block;
//   margin: 0 auto;
//   //max-width: 17rem;
// }


// .parrotLogo {
//     display: block;
//     margin: auto;
//     max-height: 12rem;
//     @media (var(--lg-n-above)){
//       max-height: 12rem;
//     }
//   }
  
  //~~~~~~~Dashboard
  // .dashLinks {
  //   // display: flex;
  //   // flex-direction: column;
  //   // justify-content: center;
  //   display: flex;
  //   flex-direction: column;
  //   //align-items: center;
  //   justify-content: center;

  // }

  // .dashLinks button{
  //   font-weight: 700;
  //   outline: transparent;
  //   max-width: 70%;
  // }
  
  [data-theme=dark]
  .dashLinks a:hover {
    color: var(--colar-gray-10);
  }
  .dashLinks a:hover {
    color: var(--colar-gray-2);
  }
  
  [data-theme=dark]
  .sortGame button {
    background-color: #AEB1F4;
    color: #2b2e6e;
  }
  
  [data-theme=dark]
  .bankGame button {
    background-color: #e9c4a5;
    color: #4b2e0c;
  }
  
  .sortGame button {
    background-color: #474DD1;
    color: #E8E9FC;
    //outline: transparent;
  }
  
  .bankGame button {
    background-color: #d18647;
    color: #f8ede4;
    //outline: transparent;
  }
  