

// .containReplay {
//   cursor: pointer;
//   padding: 2em;
//   margin: 0 auto;
//   width: 40%;
//   animation: var(--animation-scale-down) reverse, var(--animation-fade-out) reverse;
//   animation-timing-function: var(--ease-squish-5);
//   animation-duration: 1s;
// }

.replay-btn {
  display: block;
  margin: 0 auto;
  width: 4em;
  height: 4em;
  animation: var(--animation-scale-down) reverse, var(--animation-fade-out) reverse;
  animation-timing-function: var(--ease-squish-5);
  animation-duration: 1s;
  width: fit-content;
}

.reset-btn {
  display: block;
  margin: 0 auto;
  width: fit-content;
}

.containIcon {
  padding-top: 3em;
}

.playIcon {
  width: 5rem;
  height: 5rem;
  padding-right: 0.3rem;
}

.microphone {
  width: 5rem;
  height: 5rem;
  display: block;
  margin: 4em auto 4em auto;
}
.microphone-on {
  @extend .microphone;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(52, 172, 224, 1);
  transform: scale(1);
  animation: pulse 2s infinite;

  @keyframes pulse-blue {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
    }

    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
    }

    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
    }
  }
}
.sortContainer {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0em 0.5em;
  height: 100%;
  margin: 3em 0 3em 0;
  width: 100%;
}

#sortTile {
  display: grid;
  font-weight: 700;
  background-color: #7f15bf;
  border-color: transparent;
 
  //max-width: fit-content;
}

@media (min-width: 576px) {
  #sortTile {
    font-size: 2em;
  }
}

@media (min-width: 768px) {
  .sortItHome button {
    max-width: 70%;
    margin: 0 auto;
  }

  .submitReset {
    display: flex;
    justify-content: space-between;

    button {
      width: 20%;
    }
  }
  #sortTile {
    font-size: 3.5em;
  }
}

//decided to take off visible container for now... ?

// @media (min-width: 768px) {
//   .sortContainer {
//     width: min-content;
//     background: #e0e0e0;
//     box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
//     border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
//     //border:solid 7px #41403E;
//     &:hover {
//       box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, 0.3);
//     }
//     //   &.lined.thick{
//     //     border:solid #41403E;
//     //  }
//   }
// }

//this works but animates every time its touched
//TODO: have animation only run once regardless of render
// #sortTile{
//     // animation:
//     //     var(--animation-scale-down) reverse,
//     //     var(--animation-fade-out) reverse;
//     //     animation-timing-function: var(--ease-squish-5);
//     //      animation-duration: 1s;
//     //      animation-iteration-count: 1;

//         // animation:
//         //   var(--animation-shake-y),
//         //   var(--animation-fade-in),
//         //   var(--animation-slide-in-left);

// }
