//footer section



@media (min-width:768px) {
  [data-theme=dark]
footer {
  background-color: rgba(16,152,173, .5);
}

  footer {
    background-color:rgba(11,114,133, .6);
    backdrop-filter: saturate(180%) blur(10px);
  }
}




.holdSocialIcon{
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}


[data-theme=dark]
.social {
  color: var(--colar-gray-4);
}

.social {
  color: var(--colar-gray-9);
  width: 2em;
  height: 2em;

    &.twitter {
      &:hover {
        color: var(--colar-cyan-7);
        animation: var(--animation-spin);
        animation-timing-function: var(--ease-1);  
      }
    }

    &.linkedin {
      &:hover {
        color: var(--colar-blue-6);
        animation: var(--animation-scale-up) forwards;
      }
    }

    &.github {
      &:hover {
        color: var(--colar-teal-8);
        animation: var(--animation-float);
      }
    }

    &.portfolio {
      &:hover {
        color: var(--colar-indigo-7);
        animation: var(--animation-pulse) forwards;
      }
    }
    
    &.blog {
      &:hover {
        color: var(--colar-orange-6);
        animation: var(--animation-shake-x) forwards;
      }
    }

}

// @media (max-width: 768px){
//   .blog, .portfolio {
//     display: none;
//   }
// }