@import 'https://octoshrimpy.github.io/microcss/micro.css';
html {
  scroll-behavior: smooth;
}

body {
  --font-family: "Lexend", sans-serif;
  overflow-x: hidden;
  color: var(--colar-gray-10);
}

[data-theme=dark] body {
  color: var(--colar-gray-3);
}

:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

main {
  min-height: 70vh;
}

input {
  min-width: 100%;
}

body header,
body main,
body footer {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: var(--block-spacing-vertical) 0;
}

.container-fluid {
  z-index: 99;
}

button {
  --primary: var(--colar-cyan-8);
  --primary-hover: var(--colar-cyan-7);
}

[data-theme=dark] button {
  --primary: var(--colar-cyan-7);
  --primary-hover: var(--colar-cyan-6);
}

.containIcon {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: transparent;
  border: none;
}

.icon {
  color: var(--colar-gray-10);
}

[data-theme=dark] .icon {
  color: var(--colar-gray-6);
}

[data-theme=dark] .social {
  color: var(--colar-gray-3);
}

.social {
  color: var(--colar-gray-10);
  width: 2.5em;
  height: 2.5em;
}
.social.twitter:hover {
  color: var(--colar-cyan-7);
  -webkit-animation: var(--animation-spin);
          animation: var(--animation-spin);
  -webkit-animation-timing-function: var(--ease-1);
          animation-timing-function: var(--ease-1);
}
.social.linkedin:hover {
  color: var(--colar-blue-6);
  -webkit-animation: var(--animation-scale-up) forwards;
          animation: var(--animation-scale-up) forwards;
}
.social.github:hover {
  color: var(--colar-teal-8);
  -webkit-animation: var(--animation-float);
          animation: var(--animation-float);
}
.social.portfolio:hover {
  color: var(--colar-indigo-7);
  -webkit-animation: var(--animation-pulse) forwards;
          animation: var(--animation-pulse) forwards;
}
.social.blog:hover {
  color: var(--colar-orange-6);
  -webkit-animation: var(--animation-shake-x) forwards;
          animation: var(--animation-shake-x) forwards;
}

article div:nth-of-type(2) {
  display: none;
}

.registerImage {
  background-color: #374956;
  background-image: url("../assets/smallKidsLearning.jpg");
  background-position: center;
  background-size: cover;
}

.loginImage {
  background-color: #374956;
  background-image: url("../assets/paul-hanaoka-BJ25B9sonUs-unsplash.jpg");
  background-position: center;
  background-size: cover;
}

@media (min-width: 992px) {
  .grid > div:nth-of-type(2) {
    display: block;
  }
}
.containLogo {
  margin-bottom: var(--typography-spacing-vertical);
}

.parrotLogo {
  display: block;
  margin: auto;
  max-height: 12rem;
}
@media (var(--lg-n-above)) {
  .parrotLogo {
    max-height: 12rem;
  }
}

.dashLinks * {
  font-weight: 700;
  outline: transparent;
}

[data-theme=dark] .dashLinks a:hover {
  color: var(--colar-gray-10);
}

.dashLinks a:hover {
  color: var(--colar-gray-2);
}

[data-theme=dark] .sortGame button {
  background-color: #AEB1F4;
  color: #2b2e6e;
}

[data-theme=dark] .bankGame button {
  background-color: #e9c4a5;
  color: #4b2e0c;
}

.sortGame button {
  background-color: #474DD1;
  color: #E8E9FC;
}

.bankGame button {
  background-color: #d18647;
  color: #f8ede4;
}

@media (min-width: 768px) {
  .wordGame {
    margin: 0 auto;
    max-width: 70%;
  }
}
h1, h2, h3, h4, h5, p {
  text-align: center;
  margin: 1em;
}

#page-wrap {
  text-align: center;
  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

.navWithSlide {
  width: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  color: var(--colar-gray-1);
}

.fillNav {
  background-color: rgba(11, 114, 133, 0.6);
  z-index: 99;
  width: 100%;
  -webkit-backdrop-filter: saturate(180%) blur(10px);
          backdrop-filter: saturate(180%) blur(10px);
}

[data-theme=dark] .navWithSlide {
  background-color: rgba(16, 152, 173, 0.5);
}

nav ul {
  display: flex;
  justify-content: flex-end;
}

nav strong {
  padding-right: 1em;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: var(--colar-gray-11);
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: var(--colar-gray-8);
}

[data-theme=dark] .bm-item {
  color: var(--colar-gray-4);
}

[data-theme=dark] .bm-item:hover {
  color: var(--colar-gray-2);
}

.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  top: 16px;
  left: 16px;
}

/* Color/shape of burger icon bars */
[data-theme=dark] .bm-burger-bars {
  background: var(--colar-gray-2);
}

.bm-burger-bars {
  background: var(--colar-gray-9);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: var(--colar-gray-11);
}

[data-theme=dark] .bm-cross {
  background: var(--colar-gray-2);
}

/* General sidebar styles */
[data-theme=dark] .bm-menu {
  background: #3B444B;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-menu {
  z-index: 100;
  background: var(--colar-gray-4);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
/* Wrapper for item list */
.bm-item-list {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

/* Styling of overlay */
.bm-overlay {
  padding-left: -10px !important;
  background: rgba(0, 0, 0, 0.3);
}

[data-theme=dark] .bm-overlay {
  padding-left: -10px !important;
  background: rgba(0, 0, 0, 0.5);
}

.bm-contain {
  display: flex;
  flex-direction: column;
}

.bm-menu-wrap {
  position: fixed;
  min-height: 100%;
}

.toggleLabel {
  font-size: 0.75em;
  vertical-align: top;
  padding-right: 0.5em;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.toggle-switch input[type=checkbox] {
  display: none;
}

.toggle-switch .switch {
  position: absolute;
  cursor: pointer;
  background-color: var(--colar-cyan-8);
  border-radius: 25px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 0.2s ease;
}

.toggle-switch .switch::before {
  position: absolute;
  content: "";
  left: 2px;
  top: 2px;
  width: 21px;
  height: 21px;
  background-color: var(--colar-cyan-4);
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.toggle-switch input[type=checkbox]:checked + .switch::before {
  transform: translateX(25px);
  background-color: var(colar-cyan-7);
}

.toggle-switch input[type=checkbox]:checked + .switch {
  background-color: var(colar-cyan-2);
}

.modalContainer {
  -webkit-animation: var(--animation-slide-in-down);
          animation: var(--animation-slide-in-down);
}

.modalContainer header {
  background: rgb(246, 246, 246);
}

.textInModal p {
  padding: 0.5em 0 0.5em 0;
}

.dashboardImage {
  padding-bottom: 2em;
}

.dashboardImage img {
  display: block;
  margin: 0 auto;
  max-width: 17rem;
}

main {
  margin-bottom: 3em;
}

footer {
  max-height: 20vh;
  background-color: rgba(11, 114, 133, 0.6);
  -webkit-backdrop-filter: saturate(180%) blur(10px);
          backdrop-filter: saturate(180%) blur(10px);
}

[data-theme=dark] footer {
  background-color: rgba(16, 152, 173, 0.5);
}

.holdSocialIcon {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}/*# sourceMappingURL=main.css.map */