@import "https://unpkg.com/@picocss/pico@latest/";
@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/buttons.min.css";
@import "https://octoshrimpy.github.io/microcss/micro.css";
.prim-50 {
  background: #e2f6fb;
  color: rgba(0, 0, 0, 0.7);
}

.text-prim-50 {
  color: #e2f6fb;
}

root {
  --prim-50: #e2f6fb;
  --prim-50-inverse: rgba(0, 0, 0, 0.7);
}

.prim-100 {
  background: #b5e8f5;
  color: rgba(0, 0, 0, 0.7);
}

.text-prim-100 {
  color: #b5e8f5;
}

root {
  --prim-100: #b5e8f5;
  --prim-100-inverse: rgba(0, 0, 0, 0.7);
}

.prim-200 {
  background: #86d8ef;
  color: rgba(0, 0, 0, 0.7);
}

.text-prim-200 {
  color: #86d8ef;
}

root {
  --prim-200: #86d8ef;
  --prim-200-inverse: rgba(0, 0, 0, 0.7);
}

.prim-300 {
  background: #5ac9e9;
  color: #fff;
}

.text-prim-300 {
  color: #5ac9e9;
}

root {
  --prim-300: #5ac9e9;
  --prim-300-inverse: #fff;
}

.prim-400 {
  background: #3abde7;
  color: #fff;
}

.text-prim-400 {
  color: #3abde7;
}

root {
  --prim-400: #3abde7;
  --prim-400-inverse: #fff;
}

.prim-500 {
  background: #1cb1e5;
  color: #fff;
}

.text-prim-500 {
  color: #1cb1e5;
}

root {
  --prim-500: #1cb1e5;
  --prim-500-inverse: #fff;
}

.prim-600 {
  background: #12a3d7;
  color: #fff;
}

.text-prim-600 {
  color: #12a3d7;
}

root {
  --prim-600: #12a3d7;
  --prim-600-inverse: #fff;
}

.prim-700 {
  background: #0090c4;
  color: #fff;
}

.text-prim-700 {
  color: #0090c4;
}

root {
  --prim-700: #0090c4;
  --prim-700-inverse: #fff;
}

.prim-800 {
  background: #017fb1;
  color: #fff;
}

.text-prim-800 {
  color: #017fb1;
}

root {
  --prim-800: #017fb1;
  --prim-800-inverse: #fff;
}

.prim-900 {
  background: #005f90;
  color: #fff;
}

.text-prim-900 {
  color: #005f90;
}

root {
  --prim-900: #005f90;
  --prim-900-inverse: #fff;
}

.prim {
  background: #1cb1e5;
}

root {
  --prim: #1cb1e5;
  --prim-inverse: #fff;
}

.comp-50 {
  background: #fcf1e0;
  color: rgba(0, 0, 0, 0.7);
}

.text-comp-50 {
  color: #fcf1e0;
}

root {
  --comp-50: #fcf1e0;
  --comp-50-inverse: rgba(0, 0, 0, 0.7);
}

.comp-100 {
  background: #f8dcb2;
  color: rgba(0, 0, 0, 0.7);
}

.text-comp-100 {
  color: #f8dcb2;
}

root {
  --comp-100: #f8dcb2;
  --comp-100-inverse: rgba(0, 0, 0, 0.7);
}

.comp-200 {
  background: #f3c681;
  color: rgba(0, 0, 0, 0.7);
}

.text-comp-200 {
  color: #f3c681;
}

root {
  --comp-200: #f3c681;
  --comp-200-inverse: rgba(0, 0, 0, 0.7);
}

.comp-300 {
  background: #eeaf50;
  color: #fff;
}

.text-comp-300 {
  color: #eeaf50;
}

root {
  --comp-300: #eeaf50;
  --comp-300-inverse: #fff;
}

.comp-400 {
  background: #eb9e2e;
  color: #fff;
}

.text-comp-400 {
  color: #eb9e2e;
}

root {
  --comp-400: #eb9e2e;
  --comp-400-inverse: #fff;
}

.comp-500 {
  background: #e88e10;
  color: #fff;
}

.text-comp-500 {
  color: #e88e10;
}

root {
  --comp-500: #e88e10;
  --comp-500-inverse: #fff;
}

.comp-600 {
  background: #e5830e;
  color: #fff;
}

.text-comp-600 {
  color: #e5830e;
}

root {
  --comp-600: #e5830e;
  --comp-600-inverse: #fff;
}

.comp-700 {
  background: #df750b;
  color: #fff;
}

.text-comp-700 {
  color: #df750b;
}

root {
  --comp-700: #df750b;
  --comp-700-inverse: #fff;
}

.comp-800 {
  background: #d86607;
  color: #fff;
}

.text-comp-800 {
  color: #d86607;
}

root {
  --comp-800: #d86607;
  --comp-800-inverse: #fff;
}

.comp-900 {
  background: #cf4c02;
  color: #fff;
}

.text-comp-900 {
  color: #cf4c02;
}

root {
  --comp-900: #cf4c02;
  --comp-900-inverse: #fff;
}

.comp {
  background: #e88e10;
}

root {
  --comp: #e88e10;
  --comp-inverse: #fff;
}

:root {
  --shadow-none: inset 0 0 0 rgba(0,0,0,0), inset 0 0 0 rgba(0,0,0,0), 0 0 0 rgba(0,0,0,0), 0 0 0 rgba(0,0,0,0);
  --shadow-border: inset 0 0 0 rgba(10,10,10,.1), 0 0 0 0 rgba(10,10,10,.1), 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  --shadow-1: inset 0 0 0 rgba(0,0,0,0.12), inset 0 0 0 rgba(0,0,0,0.24), 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  --shadow-2: inset 0 0 0 rgba(0,0,0,0.16), inset 0 0 0 rgba(0,0,0,0.23), 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --shadow-3: inset 0 0 0 rgba(0,0,0,0.19), inset 0 0 0 rgba(0,0,0,0.23), 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --shadow-4: inset 0 0 0 rgba(0,0,0,0.25), inset 0 0 0 rgba(0,0,0,0.22), 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --shadow-5: inset 0 0 0 rgba(0,0,0,0.30), inset 0 0 0 rgba(0,0,0,0.22), 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  --inset-shadow-border: inset 0 2px 3px rgba(10,10,10,.1), inset 0 0 0 1px rgba(10,10,10,.1), 0 0 0 rgba(10,10,10,.1), 0 0 0 0 rgba(10,10,10,.1);
  --inset-shadow-1: inset 0 1px 3px rgba(0,0,0,0.12), inset 0 1px 2px rgba(0,0,0,0.24), 0 0 0 rgba(0,0,0,0.12), 0 0 0 rgba(0,0,0,0.24);
  --inset-shadow-2: inset 0 3px 6px rgba(0,0,0,0.16), inset 0 3px 6px rgba(0,0,0,0.23), 0 0 0 rgba(0,0,0,0.16), 0 0 0 rgba(0,0,0,0.23);
  --inset-shadow-3: inset 0 10px 20px rgba(0,0,0,0.19), inset 0 6px 6px rgba(0,0,0,0.23), 0 0 0 rgba(0,0,0,0.19), 0 0 0 rgba(0,0,0,0.23);
  --inset-shadow-4: inset 0 14px 28px rgba(0,0,0,0.25), inset 0 10px 10px rgba(0,0,0,0.22), 0 0 0 rgba(0,0,0,0.25), 0 0 0 rgba(0,0,0,0.22);
  --inset-shadow-5: inset 0 19px 38px rgba(0,0,0,0.30), inset 0 15px 12px rgba(0,0,0,0.22), 0 0 0 rgba(0,0,0,0.30), 0 0 0 rgba(0,0,0,0.22);
}

/* Nerd Font */
/* nerdfont.com */
/* nerdfont.com/cheatsheet */
body {
  height: calc(100vh - 7rem);
}

#root {
  height: 100%;
}

@media (min-width: 576px) {
  body header,
body main,
body footer,
section {
    --block-spacing-vertical: calc(var(--spacing) * 2.5);
  }
}
@media (min-width: 768px) {
  body header,
body main,
body footer,
section {
    --block-spacing-vertical: calc(var(--spacing) * 3);
  }
}
@media (min-width: 992px) {
  body header,
body main,
body footer,
section {
    --block-spacing-vertical: calc(var(--spacing) * 3.5);
  }
}
@media (min-width: 1200px) {
  body header,
body main,
body footer,
section {
    --block-spacing-vertical: calc(var(--spacing) * 4);
  }
}
body header,
body main,
body footer {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: var(--block-spacing-vertical) 0;
}

footer {
  left: 0;
  bottom: 0;
}

article div:nth-of-type(2) {
  display: none;
}

.registerImage {
  background-image: url("../assets/smallKidsLearning.jpg");
  background-position: center;
  background-size: cover;
}

.loginImage {
  background-image: url("../assets/paul-hanaoka-BJ25B9sonUs-unsplash.jpg");
  background-position: center;
  background-size: cover;
}

@media (min-width: 992px) {
  .grid > div:nth-of-type(2) {
    display: block;
  }
}
.containLogo {
  margin-bottom: var(--typography-spacing-vertical);
}

.parrotLogo {
  display: block;
  margin: auto;
  background: var(--grape-3);
  background-color: var(--);
  box-shadow: var(--shadow-border);
  max-height: 12rem;
}
@media (var(--lg-n-above)) {
  .parrotLogo {
    max-height: 12rem;
  }
}

h1 {
  text-align: center;
}

#page-wrap {
  text-align: center;
  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

/* Individual item */
.navWithSlide {
  padding-left: 0;
}

.bm-item {
  display: inline-block;
  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  top: 16px;
  left: 16px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  display: flex;
  flex-direction: column;
  justify-content: left;
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  padding-left: -10px !important;
  background: rgba(0, 0, 0, 0.3);
}

.bm-contain {
  display: flex;
  flex-direction: column;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.toggle-switch input[type=checkbox] {
  display: none;
}

.toggle-switch .switch {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 25px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 0.2s ease;
}

.toggle-switch .switch::before {
  position: absolute;
  content: "";
  left: 2px;
  top: 2px;
  width: 21px;
  height: 21px;
  background-color: #aaa;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.toggle-switch input[type=checkbox]:checked + .switch::before {
  transform: translateX(25px);
  background-color: #5ac9e9;
}

.toggle-switch input[type=checkbox]:checked + .switch {
  background-color: #052738;
}

.containToggle {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: 0;
}

.modalContainer {
  -webkit-animation: var(--animation-slide-in-down);
          animation: var(--animation-slide-in-down);
}

.textInModal p {
  padding: 0.5em 0 0.5em 0;
}

.dashboardImage {
  padding-bottom: 2em;
}

.dashboardImage img {
  display: block;
  margin: 0 auto;
  max-width: 17rem;
}

footer {
  padding-top: 0;
}/*# sourceMappingURL=main.css.map */