//====================
// picocss
@import "https://octoshrimpy.github.io/microcss/micro.css";

html {
  scroll-behavior: smooth;
}

body {
  --font-family: "Lexend", sans-serif;
  color: var(--colar-gray-10);
}

[data-theme="dark"] body {
  color: var(--colar-gray-3);
}

:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

//fix to microcss / overrides

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 1em 0;
}

input {
  min-width: 100%;
}


//====================
// your scss here

button {
  --primary: var(--colar-cyan-8);
  --primary-hover: var(--colar-cyan-7);
}

[data-theme="dark"] button {
  --primary: var(--colar-cyan-7);
  --primary-hover: var(--colar-cyan-6);
}

// ICONS

//global icons styles
//icon in button
.containIcon {
  margin: 0 auto;
  width: fit-content;
  background: transparent;
  border: none;
}

.icon {
  color: var(--colar-gray-10);
}

[data-theme="dark"] .icon {
  color: var(--colar-gray-6);
}

.containLogo {
  padding-bottom: 1em;
}

//LOGIN & REGISTER

article div:nth-of-type(2) {
  display: none;
}

.login-register {
  background-color: #374956;
  background-position: center;
  background-size: cover;

  &.register {
    background-image: url("../assets/smallKidsLearning.jpg");
  }

  &.login {
    background-image: url("../assets/paul-hanaoka-BJ25B9sonUs-unsplash.jpg");
  }
}

@media (min-width: 992px) {
  .grid > div:nth-of-type(2) {
    display: block;
  }
}

//setting width for game pages and other pages

@media (min-width: 768px) {
  .wordGame {
    margin: 0 auto;
    max-width: 70%;
  }
}

h1,
h2,
h3,
h4,
h5,
p {
  text-align: center;
}

//toast - Should have been able to set theme directly. 
//State wasnt updating without a render. Complications. :(

[data-theme=dark]
.Toastify__toast {
  background-color: #1B2832;
  color: var(--colar-gray-1)

}

[data-theme=dark]
.Toastify__close-button {
  color: var(--colar-gray-1);
}

.Toastify__close-button {
  display: flex;
  justify-content: flex-end;
}

