
//====================
// microcss


//====================

// your pico overrides here



//====================
// picocss
@import 'https://octoshrimpy.github.io/microcss/micro.css';


//fix to microcss input is now full width
input {
  min-width: 100%;
}

body {
  --font-family: 'Lexend', sans-serif;
}

:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}



html {
  scroll-behavior: smooth;
  
}


body header,
body main,
body footer {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: var(--block-spacing-vertical) 0;
}


//====================
// your scss here

button {
  --primary: var(--colar-cyan-8);
  --primary-hover: var(--colar-cyan-7);
}

[data-theme= dark]
button {
  --primary: var(--colar-cyan-6);
  --primary-hover: var(--colar-cyan-5);
}

//icons

 //icons stay light as links, text and repeat word need to change colors

//  [data-theme= dark]
//  a, [role=link] {
//     --primary: var(--colar-gray-4);
//     --primary-hover: var(--colar-gray-2);
   
//  }

//  a, [role=link] {
//   --primary: var(--colar-gray-10);
//   --primary-hover: var(--colar-gray-2);
// }

// ICONS 

.icon {
 // color: var(--colar-gray-5);
  --primary: var(--colar-gray-5);
}


// [data-theme= dark]
//  .icon {
//   color: var(--colar-gray-3);
// }

.social {
  color: var(--colar-gray-5);
  width: 2.5em;
  height: 2.5em;

    &.twitter {
      &:hover {
        color: var(--colar-blue-3);
        animation: var(--animation-spin);
        animation-timing-function: var(--ease-1);  
      }
    }

    &.linkedin {
      &:hover {
        color: var(--colar-blue-5);
        animation: var(--animation-scale-up) forwards;
      }
    }

    &.github {
      &:hover {
        color: var(--colar-teal-6);
        animation: var(--animation-float);
      }
    }

    &.portfolio {
      &:hover {
        color: var(--colar-indigo-7);
        animation: var(--animation-pulse) forwards;
      }
    }
    
    &.blog {
      &:hover {
        color: var(--colar-orange-6);
        animation: var(--animation-shake-x) forwards;
      }
    }

}



















//=============Pico overrides attempts



//editing to login register 


article div:nth-of-type(2) {
  display: none;
}

.registerImage{
  background-color: #374956;
  background-image: url("../assets/smallKidsLearning.jpg");
  background-position: center;
  background-size: cover;
}

.loginImage {
  background-color: #374956;
  background-image: url("../assets/paul-hanaoka-BJ25B9sonUs-unsplash.jpg");
  background-position: center;
  background-size: cover;
}

@media (min-width: 992px) {
  .grid > div:nth-of-type(2) {
    display: block;
  }
}


.containLogo {
margin-bottom: var(--typography-spacing-vertical);
 // height: 50%;  
}

.parrotLogo {
  display: block;
  margin: auto;
  max-height: 12rem;
  @media (var(--lg-n-above)){
    max-height: 12rem;
  }
}

//setting width for game pages and other pages 

@media (min-width: 768px){
  .wordGame {
    margin: 0 auto;
    max-width: 70%;
  }

}

h1, h2, h3, h4, h5, p {
  text-align: center;
  margin: 1em;
}

//global icons styles
//icon in button 
.containIcon {
  margin: 0 auto;
  width: fit-content;
  background: transparent;
  border: none;
}



//hamburger menu & nav

#page-wrap {
  text-align: center;
  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}
// .nav-contain nav{
//   padding-right: .8em;
// }



.navWithSlide {
  padding-left: 0;
  background-color: var(--colar-cyan-9);
  // position: sticky;
  // position: -webkit-sticky;
  top: 0;
  z-index: 99;
  color: var(--colar-gray-1);
}

[data-theme= dark]
.navWithSlide {
  background-color: var(--colar-cyan-7);
}

nav strong {
  color: var(--colar-gray-1);
}

.bm-item {
  display: inline-block;
  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: var(--colar-gray-10);
  transition: color 0.2s;
}

[data-theme= dark]
.bm-item{
  color: var(--colar-gray-3);
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

[data-theme= dark]
.bm-item:hover {
  color: white;
}



//   lines itself
.bm-burger-button {
position: absolute;
  width: 36px;
  height: 30px;
  top:16px;
   left: 16px;
  //right: 16px;
}

/* Color/shape of burger icon bars */
[data-theme = dark]
.bm-burger-bars {
  background: var(--colar-gray-2);
}


.bm-burger-bars{
  background: var(--colar-gray-1);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}


.bm-cross {
  background: var(--colar-gray-12);
}

[data-theme= dark]
.bm-cross {
  background: var(--colar-gray-2);
}

/* General sidebar styles */
[data-theme= dark]
.bm-menu {
  background: #3B444B;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-menu {
  background: var(--colar-gray-4);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
// .bm-morph-shape {
//   fill: #373a47;
// }

/* Wrapper for item list */
//had to overwrite template css
.bm-item-list {
  display: flex;
  flex-direction: column;
  justify-content: left;
  // color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  padding-left: -10px !important;
  background: rgba(0, 0, 0, 0.3);
}

[data-theme= dark]
.bm-overlay {
    padding-left: -10px !important;
    background: rgba(0, 0, 0, 0.5);
}

.bm-contain {
  display: flex;
  flex-direction: column;

}


.bm-menu-wrap {
  position: fixed;
  min-height: 100%;
}

// toggle switch

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}
.toggle-switch input[type="checkbox"] {
  display: none;
}
.toggle-switch .switch {
  position: absolute;
  cursor: pointer;
  background-color: var(--colar-cyan-8);
  border-radius: 25px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 0.2s ease;
}
.toggle-switch .switch::before {
  position: absolute;
  content: "";
  left: 2px;
  top: 2px;
  width: 21px;
  height: 21px;
  background-color: var(--colar-cyan-4);
  border-radius: 50%;
  transition: transform 0.3s ease;
}
.toggle-switch input[type="checkbox"]:checked + .switch::before {
  transform: translateX(25px);
  background-color: var(colar-cyan-7);
}
.toggle-switch input[type="checkbox"]:checked + .switch {
  background-color: var(colar-cyan-2);
}

.containToggle {
width: fit-content;
margin-left: auto; 
margin-right: 0;
}

.modalContainer{
  animation:
  var(--animation-slide-in-down);
    //var(--animation-fade-down),
    //var(--animation-slide-in-left);
}

.modalContainer header{
  background: rgb(246, 246, 246);
}

.textInModal p{
  padding: .5em 0 .5em 0;
}

.dashboardImage{
  padding-bottom: 2em;
}

.dashboardImage img {
  display: block;
  margin: 0 auto;
  max-width: 17rem;
}

main {
  margin-bottom: 3em;
}

footer {
  background-color: var(--colar-cyan-9);
}
[data-theme=dark]
footer {
  background-color: var(--colar-cyan-7);
}

.holdSocialIcon{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.socialIcon {
  list-style: none;
  width: 2.5rem;
  height: 2.5rem;
}

