//====================
// settings

  //class prefixes
  $prefix-primary  : "prim";
  $prefix-secondary: "comp";


  // generators
  $autogen-900s     : false;
  $autogen-secondary: false;
  $autogen-contrast : false;

  // replacements
  $info-uses-old-primary: false;
  $override-secondary   : true;

// check @picocss _variables for extra settings
// you can change. add them below:



//====================
// colors

  // primary
  $primary-50 : #ffe2c9;
  $primary-100: #ffc3af;
  $primary-200: #e5a28f;
  $primary-300: #c8816c;
  $primary-400: #b36752;
  $primary-500: #9c4e38;
  $primary-600: #904532;
  $primary-700: #7f3829;
  $primary-800: #6f2b23;
  $primary-900: #5e1c1a;

  // secondary
  // $secondary-50 : #ffe2c9;
  // $secondary-100: #ffc3af;
  // $secondary-200: #e5a28f;
  // $secondary-300: #c8816c;
  // $secondary-400: #b36752;
  // $secondary-500: #9c4e38;
  // $secondary-600: #904532;
  // $secondary-700: #7f3829;
  // $secondary-800: #6f2b23;
  // $secondary-900: #5e1c1a;

//====================
// microcss

@import './_microcss-run';


//====================
// your pico overrides here




//

//====================
// picocss

@import "../pico-master/scss/pico.scss";

// Dark theme (Auto)
// Automatically enabled if user has Dark mode enabled
@import "docs/dark";
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    @include dark;
  }
}


//====================
// your scss here
